.gr-font13{
	font-size: 36rpx;
	color: #007AFF;
	font-family: PingFangSC-Medium, sans-serif;//苹方-简 中黑体
		
}

// 定义字体(px)单位，小于20都为px单位字体
@for $i from 9 to 20 {
  .gr-font#{$i} {
    font-size: $i + px;
  }
}

// 定义字体(rpx)单位，大于或等于20的都为rpx单位字体
@for $i from 20 through 40 {
  .gr-font#{$i} {
    font-size: $i + rpx;
  }
}



.gr-fontL{
	font-family: PingFangSC-Light, sans-serif;//苹方-简 中黑体
}
.gr-fontR{
	font-family: PingFangSC-Regular, sans-serif;//苹方-简 中黑体
}
.gr-fontM{
	font-family: PingFangSC-Medium, sans-serif;//苹方-简 中黑体
}

//定义行数
.l1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.l2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.l3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}











