
// view
$gr-color-view-main:#f00;
// text
$gr-color-text-main:#333;
$gr-color-text-title:#333;
$gr-color-text-des:#999;
$gr-color-text-paragraph:#666;
$gr-color-text-placeholder:#9F9F9F;
$gr-color-text-disable:#9F9F9F;

//line
$gr-color-line-main:#EEEEF5;
// btn
$gr-color-btnbg-main:#FD6742;
$gr-color-btn-main:#fff;




	// background: linear-gradient(270deg, #fc5842 0%, #feac3d 100%);
	
